<div class="modal fade" id="messageBox" role="dialog">
    <div class="modal-dialog">    
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p id="dialogText">Some text in the modal.</p>
            </div>
            <div class="modal-footer" id="buttons">
                <input id="ok" type="button" value="Ok" class="btn btn-default"/>
            </div>
        </div>
    </div>
</div>
<script>
    
</script>